<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <h1><%= locals.title %></h1>
      <%- include('../partials/nav.ejs') %>

  <ul>
    <% if (locals.books) {%>
      <% books.forEach(book => { %>
        <li>
         Name: <%= book.bookname %> -Author: <%= book.author %> <br/>
         category: <%= book.category %>
        </li>
      <% }); %>
    <% } %>
  </ul>
    <a href="/books/create">new</a>

</body>
</html>